/* CSS para a página de presença */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #eef7ef;
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #4caf50;
}

button {
  margin: 0 auto;
  background-color: #4caf50;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tabela-presenca {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tabela-presenca th {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  text-align: left;
}

#tabela-presenca td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#tabela-presenca tr:nth-child(even) {
  background-color: #d5e8d5;
}

#tabela-presenca tr:last-child td {
  border-bottom: none;
}